- @hide_top_links = true
- page_title    "代码片段"
- header_title  "代码片段", snippets_path

- if current_user
  = render 'dashboard/snippets_head'
- else
  = render 'explore/head'

= render partial: 'shared/snippets/list', locals: { link_project: true }
