- add_to_breadcrumbs "Users", admin_users_path
- breadcrumb_title @user.name
- page_title @user.name, "用户"
= render 'admin/users/head'

.row
  .col-md-6
    .card
      .card-header
        = @user.name
      %ul.content-list
        %li
          = image_tag avatar_icon_for_user(@user, 60), class: "avatar s60"
        %li
          %span.light 个人资料页面：
          %strong
            = link_to user_path(@user) do
              = @user.username
    = render 'admin/users/profile', user: @user

    .card
      .card-header
        账号：
      %ul.content-list
        %li
          %span.light 姓名：
          %strong= @user.name
        %li
          %span.light 用户名：
          %strong
            = @user.username
        %li
          %span.light 邮箱：
          %strong
            = mail_to @user.email
        - @user.emails.each do |email|
          %li
            %span.light 第二邮箱：
            %strong= email.email
            = link_to remove_email_admin_user_path(@user, email), data: { confirm: "确定要删除 #{email.email}?" }, method: :delete, class: "btn-sm btn btn-remove float-right", title: '删除第二邮箱', id: "remove_email_#{email.id}" do
              %i.fa.fa-times
        %li
          %span.light ID:
          %strong
            = @user.id

        %li.two-factor-status
          %span.light 两步验证：
          %strong{ class: @user.two_factor_enabled? ? 'cgreen' : 'cred' }
            - if @user.two_factor_enabled?
              Enabled
              = link_to '禁用', disable_two_factor_admin_user_path(@user), data: {confirm: '确定要继续么？'}, method: :patch, class: 'btn btn-sm btn-remove float-right', title: '禁用两步验证'
            - else
              已禁用

        %li
          %span.light 外部用户：
          %strong
            = @user.external? ? "是" : "否"
        %li
          %span.light 是否可以创建群组：
          %strong
            = @user.can_create_group ? "是" : "否"
        %li
          %span.light 个人项目限制：
          %strong
            = @user.projects_limit
        %li
          %span.light 注册时间：
          %strong
            = @user.created_at.to_s(:medium)
        - if @user.confirmed_at
          %li
            %span.light 确认时间：
            %strong
              = @user.confirmed_at.to_s(:medium)
        - else
          %li
            %span.light 已确认：
            %strong.cred
              否

        %li
          %span.light 当前登录 IP：
          %strong
            - if @user.current_sign_in_ip
              = @user.current_sign_in_ip
            - else
              从未

        %li
          %span.light 当前登录时间：
          %strong
            - if @user.current_sign_in_at
              = @user.current_sign_in_at.to_s(:medium)
            - else
              从未

        %li
          %span.light 上次登录 IP：
          %strong
            - if @user.last_sign_in_ip
              = @user.last_sign_in_ip
            - else
              从未

        %li
          %span.light 上次登录时间：
          %strong
            - if @user.last_sign_in_at
              = @user.last_sign_in_at.to_s(:medium)
            - else
              从未

        %li
          %span.light 登录次数：
          %strong
            = @user.sign_in_count

        %li
          %span.light= _("Highest role:")
          %strong
            = Gitlab::Access.human_access_with_none(@user.highest_role)

        - if @user.ldap_user?
          %li
            %span.light LDAP uid:
            %strong
              = @user.ldap_identity.extern_uid

        - if @user.created_by
          %li
            %span.light 创建者：
            %strong
              = link_to @user.created_by.name, [:admin, @user.created_by]

  .col-md-6
    - unless @user == current_user
      - unless @user.confirmed?
        .card.border-info
          .card-header.bg-info.text-white
            确认用户
          .card-body
            - if @user.unconfirmed_email.present?
              - email = " (#{@user.unconfirmed_email})"
            %p 此用户有一个未确认的邮箱地址 #{email}。你可以强制确认。
            %br
            = link_to '确认用户', confirm_admin_user_path(@user), method: :put, class: "btn btn-info", data: { confirm: '确定要确认该邮箱地址？' }
      - if @user.blocked?
        .card.border-info
          .card-header.bg-info.text-white
            该用户被禁用
          .card-body
            %p 被禁用的用户不能：
            %ul
              %li 登录
              %li 访问 Git 版本库
            %br
            = link_to '解锁用户', unblock_admin_user_path(@user), method: :put, class: "btn btn-info", data: { confirm: '确定要解锁该用户？' }
      - else
        .card.border-warning
          .card-header.bg-warning.text-white
            禁用用户
          .card-body
            %p 禁用用户有如下效果：
            %ul
              %li 用户无法登录
              %li 用户无法访问 git 版本仓库
              %li 个人项目将被移除
              %li 拥有的群组将被移除
            %br
            = link_to '禁用用户', block_admin_user_path(@user), data: { confirm: '用户将被禁用！确定要继续么？' }, method: :put, class: "btn btn-warning"
      - if @user.access_locked?
        .card.border-info
          .card-header.bg-info.text-white
            该账号已经被锁定。
          .card-body
            %p 该账号由于多次登录失败，已被临时锁定。 你可以手动解锁该账号。
            %br
            = link_to '解锁用户', unlock_admin_user_path(@user), method: :put, class: "btn btn-info", data: { confirm: '确定要解锁该用户？' }

      .card.border-danger
        .card-header.bg-danger.text-white
          = s_('AdminUsers|Delete user')
        .card-body
          - if @user.can_be_removed? && can?(current_user, :destroy_user, @user)
            %p 删除用户有如下效果：
            = render 'users/deletion_guidance', user: @user
            %br
            %button.delete-user-button.btn.btn-danger{ data: { toggle: 'modal',
              target: '#delete-user-modal',
              delete_user_url: admin_user_path(@user),
              block_user_url: block_admin_user_path(@user),
              username: @user.name,
              delete_contributions: false }, type: 'button' }
              = s_('AdminUsers|Delete user')
          - else
            - if @user.solo_owned_groups.present?
              %p
                此用户当前拥有以下群组：
                %strong= @user.solo_owned_groups.map(&:name).join(', ')
              %p
                在删除此用户前，请转移这些群组的所有权或删除之。
            - else
              %p
                您没有删除此用户的权限。

      .card.border-danger
        .card-header.bg-danger.text-white
          = s_('AdminUsers|Delete user and contributions')
        .card-body
          - if can?(current_user, :destroy_user, @user)
            %p
              这个选项将删除用户账户并将其贡献移动到
              = succeed "。" do
                = link_to "系统幽灵账户", help_page_path("user/profile/account/delete_account")
              用户的个人项目、所拥有的群组及其中的项目都将被删除，不过用户对其它
              项目的提交将不会受到影响。
            %br
              %button.delete-user-button.btn.btn-danger{ data: { toggle: 'modal',
                target: '#delete-user-modal',
                delete_user_url: admin_user_path(@user, hard_delete: true),
                block_user_url: block_admin_user_path(@user),
                username: @user.name,
                delete_contributions: true }, type: 'button' }
                = s_('AdminUsers|Delete user and contributions')
          - else
            %p
              您没有删除此用户的权限。

        #delete-user-modal
